/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align: center;
	background-color:#FFFFFF;
	vertical-align:top;
	height:100%;
}
#container {
	margin: 0 auto;
	width: 1218px;
	/*border: thin solid #00467f;
	padding: 6px 6px 6px 6px;*/
	text-align: center;
	vertical-align:top;
}
#mainCont {
	width: 1218px;
background-image:url(images/background_repeat.jpg);
background-repeat:repeat-y;
	/*background-color:#FFFFFF;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size:.96em;
}
.announcement{
	color:#e31837;
	margin:20px 0 20px 0 ;
	font-size:2.0em;
	font-weight:bold;	
}
.facebook{
	padding:15px 0 15px 0 ;
	font-size:1.5em;
}
h1{
	color:#e31837;
	margin:0;
}
h2{
	color:#e31837;
	margin:10px 0 0 0 ;
	font-size:1.4em;	
}
h3{
	color:#e31837;
	margin:10px 0 0 6px ;
	font-size:1.4em;	
}
hr {
    width:50%;
    margin:0 auto;
}
.event{
padding: 10px;
width: 100%;
text-align: center;
}
.store{
float: left;
margin-left:20px;
margin-right:20px;
}
.largeRed{
	color:#e31837;
	font-size:1.8em;
	font-weight:bold;
}
.leftTCol{
	width:604px;
}
.rightTColTop{
	width:614px;
	background-image:url(images/top_gray_divider.jpg);
	background-repeat:no-repeat;
	background-position:left top;
}
.rightTColBot{
	width:614px;
	background-image:url(images/bottom_gray_divider.jpg);
	background-repeat:repeat-y;
	background-position:left bottom;
}
.leftCol{
	margin:10px 18px 10px 144px;
	text-align:left;
}
.rightCol{
	margin:10px 150px 10px 26px;
	text-align:left;
}
.centerCol{
	margin:10px 150px 10px 150px;
	text-align:left;
}
.centerColEmail{
	margin:10px 274px 10px 274px;
	text-align:left;
}
.emailSubmit{
width:670px;
text-align:right;
}
.mapHolder{
	padding:6px;
}

a.redL:link {color:#e31837;text-decoration:underline;}
a.redL:visited {color:#e31837;text-decoration:underline;}
a.redL:hover {color:#eb8d9b;text-decoration:underline;}
a.redL:active {color:#e31837;text-decoration:underline;}

a.blackL:link {color:#000000;text-decoration:none;}
a.blackL:visited {color:#000000;text-decoration:none;}
a.blackL:hover {color:#000000b;text-decoration:underline;}
a.blackL:active {color:#000000;text-decoration:none;}

.redText{
	color:#e31837;
}

.centerAlign{
	text-align:center;
	font-size:.7em;
}

.textInput
{
border-top: 1px solid #dedede;
border-right: 3px solid #dedede;
border-left: 1px solid #dedede;
border-bottom: 3px solid #dedede;
height:20px;
width:300px;
}
.textEmailInput
{
border-top: 1px solid #dedede;
border-right: 3px solid #dedede;
border-left: 1px solid #dedede;
border-bottom: 3px solid #dedede;
height:20px;
width:500px;
}
.areaEmailInput
{
border-top: 1px solid #dedede;
border-right: 3px solid #dedede;
border-left: 1px solid #dedede;
border-bottom: 3px solid #dedede;
width:670px;
}
.dNameG{
	background-color:#f1f2f2;
	width:260px;
	height:30px;
	padding:0 0 0 8px;
}
.dEmailG{
	background-color:#f1f2f2;
	width:340px;
	height:30px;
}
.dPhoneG{
	background-color:#f1f2f2;
	width:300px;
	height:30px;
}
.dNameW{
	width:260px;
	height:30px;
	padding:0 0 0 8px;
}
.dEmailW{	
	width:340px;
	height:30px;
}
.dPhoneW{
	width:300px;
	height:30px;
}
.emailCell{
padding:12px 0 12px 0;
width:170px;
}
.submitBttnHolder{
	margin:10px 0 0 0 ;
	display:block;
}
#footer {
	background-image:url(images/background_footer.jpg);
	background-repeat:no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	color: #00467f;
	font-size: 11px;
	font-style: normal;
	text-align:left;
	width: 1218px;
height:93px;
clear:both;
}
