@font-face {
   font-family: 'Hand Drawn Shapes';
   font-display: swap;
   src: url('file:///C:/Users/Madison/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-01-11_214615/fonts/Hand%20Drawn%20Shapes/font.ttf');
}
